
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* default */
body {
    background-color: #c4c4c4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

/* header */
header {
    position: fixed;
    width: 100%;
    height: 8vh;
    top: 0;
    background-color: #008327;
    z-index: 10;
}

.header {
    width: 80vw;
    height: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: space-between;
}

/* header >> logo */
.logo {
    align-self: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.logo a {
    text-decoration: none;
    color: #000983;
    padding: 1em;
    transition: .3s ease;
}

.logo a:hover {
    color: #68ffff;
}

.logo a span {
    color: #cccccc;
}

/* header >> menu */
.menu {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    list-style: none;
    margin-top: 1.4em;
    font-weight: 700;
    font-size: 1.1rem;
}

.nav-item {
    width: auto;
    text-align: center;
}

.nav-item a {
    text-decoration: none;
    color: #000000;
    padding: 1em 1.4em;
    transition: all .2s ease;
}

.nav-item a:hover {
    color: #e6e6e6;
}

#ddm-cesta {
    right: 16em;
}

#ddm-zapas {
    right: 2em;
}

.drop-down-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 2.8em;
    display: flex;
    flex-direction: column;
    padding: auto 2em;
    padding-bottom: 1.5em;
    margin: 1em;
    transform: translateY(-2em);
    background-color: #00570e;
    list-style: none;
    transition: all 0.2s ease 0s, visibility 0s ease;
}

.nav-drop:hover .drop-down-menu {
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
}

.down-nav-head {
    padding: 1.5em .5em .5em .5em;
}

.down-nav-head a {
    color: #a57100;
}

.down-nav-item {
    text-align: left;
    padding: .3em 1em;
    width: 100%;
}

.down-nav-item a {
    color: #000000;
}

.down-nav-item a span {
    color: #bbbbbb;
}

/* main */
.main {
    width: 60vw;
    margin: auto;
}

.main-item {
    width: 100%;
}


.main h1 {
    text-align: center;
}

/* main >> detaily */
.m-i-flex {
    display: flex;
    justify-content: space-around;
}

#detaily {
    width: 50%;
    flex: 1;
    margin-right: 5em;
    padding-top: 5em;
}

.det-content {
    border: #000 solid .2em;
}

.det-item {
    display: flex;
    font-size: 1.2rem;
    margin: 1em auto;
    font-weight: 700;
    align-items: center;
    height: auto;
    padding: .5em auto;
}

.det-head {
    flex: 1;
    width: 100%;
    margin-left: 4em;
}

.det-info{
    margin-left: 1em;
    flex: 1;
    color: #9c0000;
}
.det-info a {
    color: #9c0000;
    border-bottom: #0a008f solid .15em;
    padding-bottom: .01em;
    text-decoration: none;
    transition: all ease .2s;
}

.det-info a:hover,
.det-info a:focus {
    color: #000;
    border-bottom: none;
}

/* main >> statistiky */
#statistiky {
    flex: 1;
    padding-top: 5em;
}

.st-tab {
    width: 100%;
    border: #000 solid .2em;
    padding: 1em;
}

.st-tab tr {
    height: 2em;
}

.st-tab-bay {
    margin-right: 0;
    text-align: right;
    padding-right: 2em;
    color: #9c0000;
    font-weight: 700;
}

.st-tab-name {
    font-weight: 700;
    color: #000983;
    text-align: center;
}

.st-tab-chel {
    text-align: left;
    padding-left: 2em;
    color: #9c0000;
    font-weight: 700;
}

/* main >> cesta do finále */
#cesta {
    padding-top: 5em;
}

#kvalifikace, #skupina, #vyrazovaci {
    padding-top: 5em;
}

.ces-content {
    width: 100%;
}

.ces-content h2 {
    text-align: center;
    color: #9c0000;
}

.ces-teams-head {
    display: flex;
    width: 100%;
}

.ces-team-head {
    flex: 1;
    text-align: center;
}

.ces-team-head a {
    padding: .3em 1em;
    text-decoration: none;
    color: #5c0101;
    transition: all ease .3s;
}

.ces-team-head a:hover {
    color: #181818;
    background-color: #a7a7a7;
    border-bottom: #0a008f solid .2em;
}

.ces-teams-con {
    display: flex;
    width: 100%;
}

.ces-team-con {
    flex: 2;
}

.ces-popis {
    flex: 1;
}

.ces-popis-con {
    text-align: center;
    font-weight: 700;
    align-self: center;
    font-size: 1.2rem;
    margin: 1.5em auto;
}

.ces-zapasy {
    width: 100%;
}

.ces-zapas {
    flex: 1;
    width: 100%;
    display: flex;
    margin: 2em auto;
}

.ces-souper {
    flex: 1;
    text-align: right;
}

.ces-souper a {
    text-decoration: none;
    font-weight: 700;
    padding: .5em .8em;
    color: #000;
    border-bottom: #0a008f solid .2em;
    transition: all ease .2s;
}

.ces-souper a:hover {
    background-color: #a7a7a7;
}

.ces-mul-zapas {
    width: 100%;
    flex: 2;
    display: flex;
    flex-direction: row;
}

.ces-zapas-kon {
    width: 100%;
    flex: 1;
    text-align: center;
}

.ces-zapas-kon a {
    text-decoration: none;
    padding: .5em .8em;
    color: #000;
    border-top: #0a008f solid .02em;
    border-bottom: #0a008f solid .02em;
    transition: all ease .2s;
}

.ces-zapas-kon a:hover {
    background-color: #a7a7a7;
}

