
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* default */
body {
    background-color: #c4c4c4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

/* header */
header {
    position: fixed;
    width: 100%;
    height: 8vh;
    background-color: #008327;
}

.header {
    width: 80vw;
    height: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: space-between;
}

/* header > logo */
.logo {
    align-self: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.logo a {
    text-decoration: none;
    color: #000983;
    padding: 1em;
    transition: .3s ease;
}

.logo a:hover {
    color: #00ffff;
}

.logo a span {
    color: #cccccc;
}

/* header > menu */
.menu {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    list-style: none;
    margin-top: 1.4em;
    font-weight: 700;
    font-size: 1.1rem;
}

.nav-item {
    width: auto;
    text-align: center;
}

.nav-item a {
    text-decoration: none;
    color: #000000;
    padding: 1em 1.4em;
    transition: all .2s ease;
}

.nav-item a:hover {
    color: #e6e6e6;
}

.drop-down-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 2.8em;
    display: flex;
    flex-direction: column;
    padding: auto 2em;
    padding-bottom: 1.5em;
    margin: 1em;
    right: 2em;
    transform: translateY(-2em);
    background-color: #00570e;
    list-style: none;
    transition: all 0.2s ease 0s, visibility 0s ease;
}

.item-zapas:hover .drop-down-menu {
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
}

.down-nav-head {
    padding: 1.5em .5em .5em .5em;
}

.down-nav-head a {
    color: #a57100;
}

.down-nav-item {
    text-align: left;
    padding: .3em 1em;
    width: 100%;
}

.down-nav-item a {
    color: #000000;
}

.down-nav-item a span {
    color: #bbbbbb;
}
