
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* default */
body {
    background-color: #c4c4c4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

/* header */
header {
    position: fixed;
    width: 100%;
    height: 8vh;
    top: 0;
    background-color: #008327;
    z-index: 10;
}

.nav {
    width: 80vw;
    height: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: space-between;
}

/* header >> logo */
.logo {
    align-self: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.logo a {
    text-decoration: none;
    color: #000983;
    padding: 1em;
    transition: .3s ease;
}

.logo a:hover, 
.logo a:focus {
    color: #68ffff;
    outline: none;
}

.logo a span {
    color: #cccccc;
}

/* header >> menu */
.menu {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    list-style: none;
    margin-top: 1.4em;
    font-weight: 700;
    font-size: 1.1rem;
}

.nav-item {
    width: auto;
    text-align: center;
}

.nav-item a {
    text-decoration: none;
    color: #000000;
    padding: 1em 1.4em;
    transition: all .3s ease;
}

.nav-item a:hover,
.nav-item a:focus {
    color: #e6e6e6;
    outline: none;
}

#ddm-cesta {
    right: 16em;
}

#ddm-zapas {
    right: 2em;
}

.drop-down-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 2.8em;
    display: flex;
    flex-direction: column;
    padding: auto 2em;
    padding-bottom: 1.5em;
    margin: 1em;
    transform: translateY(-2em);
    background-color: #00570e;
    list-style: none;
    transition: all 0.3s ease 0s, visibility 0s ease;
}

.nav-drop:hover .drop-down-menu,
.nav-drop:focus .drop-down-menu {
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
    outline: none;
}

.down-nav-head {
    padding: 1.5em .5em .5em .5em;
}

.down-nav-head a {
    color: #ca8a00;
}

.down-nav-item {
    text-align: left;
    width: 100%;
    padding: .5em 1em;
}

.down-nav-item a {
    color: #000000;
}

.down-nav-item a span {
    color: #9b9b9b;
}

.down-nav-item a:hover span,
.down-nav-item a:focus span {
    color: #f0f0f0;
    outline: none;
}

/* main */
.main {
    margin: auto;
}

.main-item {
    width: 100%;
}

.main h1 {
    text-align: center;
    font-size: 2.2rem;
}

/* main > header */
.main-header {
    margin: auto;
    margin-top: 6em;
    width: 60vw;
    height: 60vh;
}

.main-header img {
    position: relative;
    display: block;
    margin: auto;
    transform: translateX(-10vw);
    width: 80vw;
    filter: blur(3px);
    border-radius: .4em;
    border: #000 solid .2em;
    opacity: .6;
    height: 60vh;
}

.main-header h2 {
    position: relative;
    font-size: 3rem;
    letter-spacing: .1em;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.822);
    padding: .5em 1em;
    text-align: center;
}

.head-nadpis {
    top: -10em;
}

.head-nadpis a {
    color: #c9c9c9;
    text-decoration: none;
    padding: .5em 2em;
    transition: all ease .3s;
}

.head-nadpis a:hover,
.head-nadpis a:focus {
    background-color: #fcfcfcc4;
    color: #313131;
    border-radius: 2em;
    outline: none;
}

.head-nadpis span {
    color: #bbcf00;
}

.head-nadpis a:hover span,
.head-nadpis a:focus span {
    color: #606e11;
    outline: none;
}

.head-tymy {
    top: -9em;
    color: #5552ff;
}


.head-tymy {
    color: #c7c7c7;
}

.head-tymy a {
    text-decoration: none;
    transition: all ease .3s;
    padding: .5em .2em;
}

.head-tymy a:nth-child(1) {
    color: #ff0000;
}

.head-tymy a:nth-child(2) {
    color: #5462e0;
}

.head-tymy a:hover,
.head-tymy a:focus {
    background-color: #c7c7c7;
    border-radius: 2em;
    outline: none;
}

/* main >> detaily */
.m-i-flex {
    width: 60vw;
    display: flex;
    justify-content: space-around;
    margin: 2em auto;
}

#detaily {
    width: 50%;
    flex: 1;
    margin-right: 5em;
    padding-top: 5em;
}

.det-content {
    border: #000 solid .2em;
}

.det-item {
    display: flex;
    font-size: 1.2rem;
    margin: 1em auto;
    font-weight: 700;
    align-items: center;
    height: auto;
    padding: .5em auto;
}

.det-head {
    flex: 1;
    width: 100%;
    margin-left: 4em;
}

.det-info{
    margin-left: 1em;
    flex: 1;
    color: #9c0000;
}
.det-info a {
    color: #9c0000;
    border-bottom: #0a008f solid .15em;
    padding: .1em;
    text-decoration: none;
    transition: all ease .3s;
}

.det-info a:hover,
.det-info a:focus {
    color: #000;
    background-color: #919191;
    outline: none;
}

/* main >> statistiky */
#statistiky {
    flex: 1;
    padding-top: 5em;
}

.st-tab {
    width: 100%;
    border: #000 solid .2em;
    padding: 1em;
}

.st-tab a {
    padding: .3em .5em;
    text-decoration: none;
    color: #000;
    transition: all ease .3s;
}

.st-tab a:hover,
.st-tab a:focus {
    background-color: #888888;
    border-bottom: #0a008f solid .3em;
    outline: none;
}

.st-tab tr {
    height: 2em;
}

.st-tab-bay {
    margin-right: 0;
    text-align: right;
    padding-right: 2em;
    color: #9c0000;
    font-weight: 700;
}

.st-tab-name {
    font-weight: 700;
    color: #000983;
    text-align: center;
}

.st-tab-chel {
    text-align: left;
    padding-left: 2em;
    color: #9c0000;
    font-weight: 700;
}

/* main >> cesta do finále */
#cesta {
    background-color: #a3a3a3;
    padding-top: 5em;
    margin-top: .1em;
    padding-bottom: 1em;
}

#kvalifikace, #skupina, #vyrazovaci {
    width: 70vw;
    margin: auto;
    padding-top: 5em;
}

.ces-content {
    width: 100%;
}

.ces-content h2 {
    text-align: center;
    color: #9c0000;
}

.ces-teams-head {
    display: flex;
    width: 100%;
}

.ces-team-head {
    flex: 1;
    text-align: center;
}

.ces-team-head a {
    padding: .3em 1em;
    text-decoration: none;
    color: #5c0101;
    transition: all ease .3s;
}

.ces-team-head a:hover,
.ces-team-head a:focus {
    color: #181818;
    background-color: #c9c9c9;
    border-bottom: #0a008f solid .2em;
    outline: none;
}

.ces-teams-con {
    display: flex;
    width: 100%;
}

.ces-team-con {
    flex: 2;
}

.ces-popis {
    flex: 1;
}

.sku-tabulka {
    margin: 5em 2em;
    width: 100%;
}

.sku-tabulka tr {
    background-color: #b4b4b4;
}

.sku-tabulka tr:nth-child(1) {
    background-color: #ff0f0f;
}

.sku-tabulka tr:nth-child(2) {
    background-color: #2fa500;
}

.sku-tabulka tr:hover,
.sku-tabulka tr:focus {
    background-color: #ac8c00;
    outline: none;
}

.sku-tabulka th {
    height: 3em;
    padding: .6em;
}

.sku-tabulka td {
    height: 2em;
    padding: 1em;
    text-align: center;
}

.sku-tabulka a {
    text-decoration: none;
    color: #232323;
    font-weight: 700;
    padding: .4em;
    transition: all ease .3s;
}

.sku-tabulka a:hover,
.sku-tabulka a:focus {
    background-color: #ececec;
    border-radius: 1em;
    outline: none;
}

.ces-popis-con {
    height: 2em;
    text-align: center;
    font-weight: 700;
    align-self: center;
    font-size: 1.2rem;
    margin: 1.3em auto;
    height: 2em;
}

.ces-zapasy {
    width: 100%;
}

.ces-zapas {
    flex: 1;
    width: 100%;
    display: flex;
    margin: 2em auto;
    height: 2em;
}

.ces-souper {
    flex: 1;
    text-align: right;
}

.ces-souper a {
    text-decoration: none;
    font-weight: 700;
    padding: .5em .8em;
    color: #000;
    border-bottom: #0a008f solid .2em;
    transition: all ease .3s;
}

.ces-souper a:hover,
.ces-souper a:focus {
    background-color: #c9c9c9;
    border-radius: 1em;
    border: #0a008f solid .02em;
    outline: none;
}

.ces-mul-zapas {
    width: 100%;
    flex: 2;
    display: flex;
    flex-direction: row;
}

.ces-zapas-kon {
    width: 100%;
    flex: 1;
    text-align: center;
}

.ces-zapas-kon a {
    text-decoration: none;
    padding: .5em .8em;
    color: #000;
    border: #0a008f solid .02em;
    transition: all ease .3s;
    border-radius: .4em;
}

.ces-zapas-kon a:hover,
.ces-zapas-kon a:focus {
    background-color: #c9c9c9;
    border-radius: 0;
    outline: none;
}

/* Zápas */
#zapas {
    padding-top: 5em;
}
